{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="grid grid-cols-3 gap-5 pb-4">
    
    </div>
    
    <button
        type="submit"
        class="absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 bg-red-500 text-white rounded-full px-8 py-2"
    >
        Volgende
    </button>
{% endblock %}
