{% extends 'base.html.twig' %}

{% block title %}Bedankt{% endblock %}

{% block body %}
    <img src="{{ asset('images/trophy.png') }}" alt="trophy" class="w-20 h-20 block mx-auto mb-8">
    
    <div class="text-center text-lg">
        <p>We hebben jouw keuze goed ontvangen. Van zodra het artikel beschikbaar is zullen wij jouw supportersclub hiervan berichten.</p>
        <p>Voor vragen gelieve te mailen naar <a href="mailto:1895@footbel.com" class="text-red-500">1895@footbel.com</a></p>
    </div>
{% endblock %}
